.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: solid 1px #DDDDDD;
	border-radius: 4px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

button {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	margin-right: 30px;
	border-radius: 4px;
}

button:hover {
	opacity: 90%;
}

.locations,
.amenities {
	height: 100%;
	width: 25%;
	padding: 10px 40px;
}

.filters .locations {
	border-right: solid 1px #DDDDDD;
}

.locations h3,
.amenities h3 {
	font-weight: 600;
}

.locations h4,
.amenities h4 {
	font-weight: 400;
	font-size: 14px;
}

.popover {
	background-color: #FAFAFA;
	width: 100%;
	border: solid 1px #DDDDDD;
	border-radius: 4px;
	text-align: left;
	padding: 30px 0 20px 20px;
	visibility: hidden;
	z-index: 5;
}

.locations:hover .popover {
	display: block;
	visibility: visible:
}

.amenities:hover .popover {
	display: block;
	visibility: visible;
}

.popover ul {
	list-style: none;
	padding-bottom: 10px;
}

.popver li {
	margin-bottom: 5px;
}

li h2 {
	font-size: 16px;
}
