.places {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.places h1 {
	text-align: left;
	font-size: 30px;
	vertical-align: text-top;
	padding-top: 20px;
}

.places article {
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: solid 1px #FF5A5F;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
}

article h2 {
	font-size: 30px;
}
